@model Coche

<h1 style="color: chocolate">Coche Details</h1>

@if (Model == null){
	<h2 style="color: darkred">
		No existe el Coche buscado
	</h2>
}
else {
	<h2 style="color: forestgreen">
		@Model.Marca @Model.Modelo
	</h2>
	<img src="@Model.Imagen" width="100" height="100" />
}