<h1>Upload Files Net Core</h1>

<form method="post"
	enctype="multipart/form-data">
	<label class="form-label">Seleccione un fichero: </label>
	<input type="file" class="form-control" name="fichero"/>
	<button class="btn btn-dark mt-2">
		Subir Fichero
	</button>
</form>

<h2 style="color: chocolate">@ViewData["MENSAJE"]	</h2>