<h1>Upload Files Net Core</h1>

<form method="post"
	enctype="multipart/form-data">
	<label class="form-label">Seleccione un fichero: </label>
	<input type="file" class="form-control" name="fichero"/>
	<button class="btn btn-dark mt-2">
		Subir Fichero
	</button>
</form>

<h2 style="color: chocolate">@ViewData["MENSAJE"]	</h2>

<a href="~/uploads/Foto tamaño carnet.pdf" download>
	Descarga aqui.	
</a><br/>

<img src="~/images/pocoyo.webp" />
<img src='@ViewData["PATH"]' 
	style="width: 150px; height: 150px"/>